<ion-view view-title="My Library">
  <ion-content>
    <h2>My Library</h2>
    <div class="list">
      <div class="item item-icon-right" ng-repeat="track in myLib.tracksList track by $index" ng-click="playTrack($index)">
        {{track.title}}
      </div>
    </div>
  </ion-content>
</ion-view>
